@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Montserrat:wght@400;700&family=Raleway&family=Red+Rose&family=Varela+Round&display=swap");

* {
  outline: none;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/4230797.jpg");
  background-size: cover;
  color: white;
  font-family: "Varela Round", sans-serif;
  user-select: none;
  margin: 0;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#logo {
  color: white;
  font-size: 60px;
  margin-left: 40px;
  margin-top: 22px;
  opacity: 0.99999;
  display: inline-block;
}

#logo a {
  text-decoration: none;
  color: white;
  font-family: "Red Rose", cursive;
}

#logo a span {
  color: #dfa937;
}

nav {
  height: 100%;
  width: 55px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

nav .navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.navbar li {
  transform: rotateZ(270deg);
  margin-bottom: 70px;
  margin-left: -35px;
}

.navbar .contact-link {
  margin-top: 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

.links {
  margin-top: auto;
  margin-bottom: 50px;
}

.links div {
  text-align: right;
  padding-right: 17px;
  margin-top: 10px;
}

.links div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#name {
  font-size: 55px;
  font-family: "Varela round", sans-serif;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 110px;
  margin-bottom: 0;
}

.name2 {
  margin-top: 0 !important;
}

#typing {
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
  color: #ffc83d;
}

#typing span {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#typing::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
  opacity: 0;
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.in-code {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0.6;
}

/* links 

https://prashantsani.com/
http://www.pascalvangemert.nl/#/profile

*/
